# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environment
venv/

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml

# OS
Thumbs.db
.DS_Store
